.header {
	height: 50px;
	width: 100%;
	background-color: #fff;
	overflow: hidden;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	display: flex;
	align-items: center;
	justify-items: flex-end;
	justify-content: space-between;

	.left-menu {
		display: flex;
		justify-content: center;
		align-items: center;
		.item {
			padding: 0 10px;
		}
	}

	.right-menu {
		padding-right: 10px;
		display: flex;
		justify-content: center;
		align-items: center;

		.right-menu-item {
			display: inline-block;
			padding: 0 5px;
			height: 100%;
			font-size: 18px;
			color: #5a5e66;
			box-sizing: content-box;
			&.hover-effect {
				cursor: pointer;
			}

			.icon-fn {
				background: #eee;
				cursor: pointer;
				height: 30px;
				line-height: 30px;
				padding: 0 10px;
				border-radius: 7px;
				color: #0052cc;
				font-size: 16px;
				box-shadow: 0 4px 14px 0 rgba(238, 238, 238, 0.39);

				&:hover {
					background-color: #0052cc;
					color: #fff;
					box-shadow: 0 4px 14px 0 rgba(0, 82, 204, 0.39);
					transition: box-shadow 0.5s, background-color 0.3s;
				}
			}

			.avatar {
				height: 30px;
				.user {
					cursor: pointer;
					width: 30px;
					height: 30px;
					line-height: 30px;
					border-radius: 30px;
					background-color: #eee;
					text-align: center;
					color: #0052cc;
					font-size: 20px;
					&:hover {
						color: #fff;
						background-color: #0052cc;
						box-shadow: 0 4px 14px 0 rgba(0, 82, 204, 0.39);
						transition: box-shadow 0.5s, background-color 0.3s;
					}
				}
			}
		}
	}
}
